#task-added-popup {
  position: fixed;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  padding: 1em;
  background: var(--dark-accent);
  color: white;
  border-radius: 0.5em;
  border: 1px solid var(--light);
  box-shadow: 0 0 10px -3px var(--dark-accent);
  display: flex;
  align-items: center;
  justify-content: center;
}

#task-added-popup svg {
  margin-right: 0.5em;
  color: mediumseagreen;
}
