.fx {
  display: flex;
}
.ifx {
  display: inline-flex;
}

.fdr {
  flex-direction: row;
}
.fdrr {
  flex-direction: row-reverse;
}
.fdc {
  flex-direction: column;
}
.fdcr {
  flex-direction: column-reverse;
}

.jcfs {
  justify-content: flex-start;
}
.jcfe {
  justify-content: flex-end;
}
.jcc {
  justify-content: center;
}
.jcsa {
  justify-content: space-around;
}
.jcsb {
  justify-content: space-between;
}
.jcse {
  justify-content: space-evenly;
}

.aifs {
  align-items: flex-start;
}
.aife {
  align-items: flex-end;
}
.aic {
  align-items: center;
}
.ais {
  align-items: stretch;
}
.aib {
  align-items: baseline;
}
