#header {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .app-name {
  color: var(--dark);
  font-size: 2em;
  animation: app-name-in 0.2s ease-in-out;
}

@keyframes app-name-in {
  0% {
    opacity: 0;
  }
}

#header .logout-btn {
  width: 100px;
  height: 40px;
  margin-left: 50px;
  padding: 0.5em 1em;
  background: var(--dark);
  border-radius: 0.5em;
  color: var(--light);
  animation: logout-btn-in 0.2s ease-in-out;
}
#header .logout-btn:hover,
#header .logout-btn:focus {
  background: var(--dark-accent);
}

@keyframes logout-btn-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
}

#header .logout-btn .loader {
  font-size: 0.75em;
}

@media (max-width: 500px) {
  #header {
    padding: 1em 1.5rem;
    justify-content: space-between;
  }

  #header .app-name {
    height: 40px;
    font-size: 1.25em;
    line-height: 40px;
  }

  #header .logout-btn {
    width: 80px;
    margin-left: 0;
  }
}
