#header {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .app-name {
  font-size: 2em;
}

#header .logout-btn {
  margin-left: 50px;
  padding: 0.5em 1em;
  background: var(--dark);
  border-radius: 0.5em;
  color: var(--light);
}
#header .logout-btn:hover,
#header .logout-btn:focus {
  background: var(--dark-accent);
}

@media (max-width: 500px) {
  #header {
    padding: 1.5em;
    justify-content: space-between;
  }

  #header .app-name {
    font-size: 1.25em;
  }

  #header .logout-btn {
    margin-left: 0;
    height: 2.5em;
  }
}
