* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
}

.todo-list {
  background-color: white;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow:
    /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */ 0 10px 0 -5px #eee,
    /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */ 0 20px 0 -10px #eee,
    /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
  padding: 30px;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btnSubmit {
  cursor: pointer;
  border: none;
  font-size: 24px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

.todoi {
  display: flex;
}

.date {
  color: grey;
}

.todo-item button {
  display: flex;
  font-size: 24px;
  border: none;
  padding: 5px 9px;
  cursor: pointer;
  align-items: right;
}

.todo-item label {
  font-size: 20px;
}

input[type="checkbox"] {
  margin-right: 10px;
  font-size: 30px;
}

input[type="checkbox"]:focus,
input[type="text"]:focus {
  outline: 0;
}

/* Form */

.todo-form {
  text-align: center;
  margin: 20px;
}

.todo-form input {
  padding: 10px;
  margin-top: 4px;
  font-size: 20px;
}

.todo-form button {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 20px;
  position: absolute;
  cursor: pointer;
}

.todo-form button i {
  font-size: 60px;
}

.todo-form button:hover {
  color: black;
}

button:focus {
  outline: 0;
}

.header {
  padding: 20px;
  text-align: center;
  background-color: DodgerBlue;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}
.header nav a:hover {
  text-decoration: underline;
}

/* Responsive */

@media screen and (max-width: 700px) {
  .todo-list {
    width: 80%;
  }

  .todo-form {
    text-align: left;
  }

  .todo-form input {
    padding: 10px;
    font-size: 16px;
    width: 70%;
  }

  .todo-form button {
    margin-left: 10px;
  }

  .todo-form button i {
    font-size: 50px;
  }

  .todo-item {
    display: grid;
    grid-template-rows: 3;
    grid-gap: 10px;
  }

  input[type="checkbox"] {
    margin-right: 10px;
  }

  .todo-item label {
    font-size: 20px;
  }
}
